<h1>@<%= current_user.username %>'s Tweeter Page</h1>
<p>Here is what your "friends" are saying</p>

<div>
	<% @following_tweets.each do |tweet| %>
			<div class="well">
					<%= image_tag tweet.user.avatar.url, class: 'show-pic' %>
					<p>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %> said...</p>
					<p> <%= tweet.message.html_safe %></p>

			</div>
	<% end %>
</div>


